:root{
    --primary:#24053E;
    --secundary:#44FFA1;
    --grey:grey;
    --bone-color:#FCF8FF;
    --white:#fff;
    --main-font:"main-source";
    --secundary-font:"secundary-source";
}

@font-face {
    font-family: "main-source";
    src: url(../starter-code/assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf)
}

@font-face{
    font-family: "secundary-source";
    src: url(../starter-code/assets/fonts/manrope/static/Manrope-Regular.ttf);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

body{
    
    font-size: 1.6rem;
    font-family: var(--secundary-font);
    
}

img{
    max-width: 100%;
    display: block;
}

p{
    line-height: 2;
    font-size: 1.8rem;
}
[class$=__container]{
    margin-inline: auto;
    width: 90%;
    max-width: 120rem;
}
a{
    text-decoration: none;
}

.button{
    font-family: var(--secundary-font);
    background-color: var(--secundary);
    font-size: 1.8rem;
    font-weight: 700;
    padding:1.5rem 3rem;
    display: inline-block;
}

.button:hover{
    background-color: transparent;
    border: solid 2px var(--secundary);
    color: var(--secundary);
}

.line{
    border-bottom:solid 2px var(--secundary);
}
.line:hover{
    color: var(--secundary);
    cursor: pointer;
}


.Workit{
    overflow: hidden;
    height: 55rem;
    position: relative;
}
@media(min-width: 768px){
    .Workit{
        height: 55rem;
    }
}

.Workit__circule::before{
    position: absolute;
    background-color: var(--primary);
    border-radius: 100%;
    right: -35rem;
    left: -35rem;
    top: -20rem;
    content: '';
    bottom: 0;
    
}

@media(min-width: 1024px){
    .Workit__circule::before{
        right: -50rem;
        left: -50rem;
        
    }
    
}


@media(min-width: 768px){
    .spiral::before{
        position: absolute;
        top: 50%;
        left: -10%;
        transform: translate(-50%, -50%);
        background-repeat: no-repeat;
        background-image: url(bg-pattern-1.svg);
        content: '';
        display: block;
        background-size: cover;
        width: 36rem;
        height: 32rem;
    }
    .spiral2::before{
        position: absolute;
        background-image: url(bg-pattern-2.svg);
        content: '';
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        width: 16rem;
        height: 16rem;
        top: 71%;
        left: 104%;
        transform: translate(-50%, -50%)
    }
}

@media(min-width: 1024px){
    .spiral::before{
        top: 50%;
        left: -4%;
        width: 30rem;
        height: 29rem;
    }
    .spiral2::before{
        width: 20rem;
        height: 20rem;
        top: 53%;
        left: 104%;
    }
}


.Workit__barra{
    position: relative;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.workit_paragrph{
    color: var(--white); 
}
.workit__content{
    position: relative;
    margin-top: 5rem;
    font-size: 3rem;
    font-family: var(--main-font);
    text-align: center;
    color: var(--white);
}

.workit__heading{
    font-size: 5rem;
    margin: 0 auto 4rem auto;
}

@media(min-width: 768px){
    .workit__heading{
        font-size: 7rem;
        width: 50rem;
    }
}


.iphone11{
    position: relative;
    width: 35rem;
    margin: -10rem auto 0 auto;
}
@media(min-width: 768px){
    .iphone11{
        width: 40rem;
        margin: -10rem auto 0 auto;
    }
}

.img{
  position:absolute;  
}
.advantages{
    background-color: var(--bone-color);
    border-bottom-left-radius: 100% 3%;
    border-bottom-right-radius: 100% 3%;
    padding-bottom: 7rem;
    padding-top: 27rem;

}
@media(min-width: 768px){
    .advantages{
        border-bottom-left-radius: 100% 13%;
        border-bottom-right-radius: 100% 13%;
        padding-top: 27rem;
    }
}

@media(min-width: 1024px){
    .advantages__grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 5rem;
    }
}
.advantages__cards{
    text-align: center;
}

@media(min-width: 768px){
    
    .advantages__cards{
        display: flex;
        align-items: center;
        gap: 3rem;
        text-align: left;
    }
    .advantages__text{
        font-size: 1.6rem;
    }
}

@media(min-width: 1024px){
    .advantages__cards{
        flex-direction: column;
        text-align: center;
    }
    .advantages__text{
        font-size: 1.8rem;
    }
}

.advantages__ball{
    margin-inline: auto ;
    font-family: var(--main-font);
    font-size: 2.5rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    padding: 3rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: solid .5px black;
}

@media(min-width: 768px){
    .advantages__ball{
        padding: 2rem;
        width: 5rem;
        height: 5rem;
    }

}

.advantages__heading{
    font-family: var(--main-font);
}

.founder{
    margin-top: 10rem;
}
@media(min-width: 768px){
    .founder__desktop{
        background-image: url(../starter-code/assets/images/image-founder.webp);
        display: grid;
        grid-template-columns: repeat(3,1fr);

    }
}
@media(min-width: 768px){
    .founder__grid{
        margin-top: 20rem;
        display: grid;
        grid-template-columns: repeat(2,auto);
        justify-content: center;
        align-items: center;
    }
}
.founder__img{
    width: 30rem;
    margin: 0 auto;
}

@media(min-width: 768px){
    .founder__img{
        margin-top: -34rem;
    }
}

@media(min-width: 1024px){
    .founder__img{
        margin-top: -20rem;
    }
}

.founder__text{
    position: relative;
    margin-top: -6.5rem;
    background-color: var(--primary);
    color: var(--bone-color);
    padding: 4rem;
    text-align: center;
}
@media(min-width: 768px){
    .founder__text{
        width: 50rem;
        text-align: left;
        margin-top: 3rem;
        margin-left: -11rem;
    }
}
@media(min-width: 1024px){
    .founder__text{
        width: 70rem;
        text-align: left;
        margin-top: 3rem;
        margin-left: -6rem;
    }
}
.founder__heading{
    font-family: var(--main-font);
    font-size: 3.5rem;
    margin-bottom: 2rem;
    margin-top: 0;
}
.founder__paragraph{
    margin-bottom: 2rem;
}
@media(min-width: 768px){
    .founder__paragraph{
        font-size: 1.6rem;
    }
}
.footer{
    margin: 7rem auto;
}
.footer__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    width: 10rem;
}
.footer__img{
    width: 9rem;
}

.footer__logos{
    display: flex;
    justify-content: space-between;
    width: 10rem;
}
